otelpoc/client/.idea/
.idea/
scheduled-message-transfer/target/
~/.m2/repository/


target/
.vscode/
~/.m2/repository/
../.idea/
**/.idea/
.DS_Store
*.iml
**/*.iml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.project
*.prefs
.classpath
../.DS_Store
tmp/